<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-impac-inapppayment" version="0.1.0">
    <name>impac-inapppayment</name>

    <description>An Cordova plugin for iOS and Android that allows to make in app payments</description>
    <license>MIT</license>

    <keywords>cordova,android,ios,inapppayment</keywords>
    <repo>https://github.com/ImpacGroup/cordova-plugin-impac-inapppayment.git</repo>
    <issue>https://github.com/ImpacGroup/cordova-plugin-impac-inapppayment/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/impac-inapppayment.js" name="impac-inapppayment">
        <clobbers target="window.plugins.impac-inapppayment" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Impac-Inapppayment">
                <param name="ios-package" value="impac-inapppayment"/>
            </feature>
        </config-file>
        <source-file src="src/ios/IMPProduct.swift"/>
        <source-file src="src/ios/IMPStoreManager.swift"/>
    </platform>

    <platform name="android">

        <config-file target="config.xml" parent="/*">
            <feature name="Impac-Inapppayment">
            </feature>
        </config-file>
    </platform>
</plugin>
