<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="de.impac.cordova-plugin-swissRxLogin" version="0.0.1">
    <name>swissRxLogin</name>

    <description>An Android Cordova plugin that allows to login with swiss-rx.</description>
    <license>MIT</license>

    <keywords>cordova,android,swiss-rx,swiss,signin,login</keywords>
    <repo>https://felixNievelsteinImpac@bitbucket.org/impacgroup/swissrx-login.git</repo>
    <issue>https://github.com/stanidesis/toastyplugin/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=8.0.0"/>
    </engines>
  
    <js-module src="www/swissRxLogin.js" name="swissRxLogin">
        <clobbers target="window.plugins.swissRxLogin" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SwissRxLogin">
                <param name="ios-package" value="SwissRxLogin"/>
            </feature>
        </config-file>
        <source-file src="src/ios/SwissRxLogin.swift"/>
        <source-file src="src/ios/IMPSwissRxViewController.swift"/>
        <source-file src="src/ios/IMPSwissRxViewController.xib"/>
    </platform>
</plugin>